
.carre{
	width:200px;
	height:200px;
	background:#069;
}

.rectangle{
	width:400px;
	height:200px;
	background:#069;
}

.rond{
	width:200px;
	height:200px;
	background:#069;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
}

.ovale {
	width: 300px;
	height: 200px;
	background: #069;
	border-top-left-radius: 150px 100px;
	border-top-right-radius: 150px 100px;
	border-bottom-right-radius: 150px 100px;
	border-bottom-left-radius: 150px 100px;
}

.triangle{
	width:1px;
	height:1px;
	border:1px solid #069;
	border-color:transparent transparent #069 transparent;
	border-width:100px;
}

.parallelogramme{
	width:300px;
	height:100px;
	background:#069;
	-webkit-transform:skew(30deg);
	-moz-transform:skew(30deg);
	-o-transform:skew(30deg);
	tranform:skew(30deg);
}

.trapeze{
	width:1px;
	height:100px;
	border:1px solid #069;
	border-color:transparent transparent transparent #069;
	border-width:100px;
}

.etoile{
	background:#000;
	margin:100px auto;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #069;
	position: relative;
}
.etoile:after{
	content:'';
	border: 1px solid #069;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #069;
	width:0;
	height:0;
	position: absolute;
	top:30px;
	left:-50px;
}

.losange{
	margin:100px auto;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #069;
	position: relative;
}
.losange:before{
	content:'';
	border: 1px solid #069;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #069;
	width:0;
	height:0;
	position: absolute;
	top:100px;
	left:-50px;
}
			