fieldset {
    padding: 1em 0;
    margin: 1em 0;
}

legend {
    margin-left: 2em;
    font-weight: bold;
    font-size: large;
}

table {
    width: 90%;
    margin: auto;
}
td {
    width: 40%;
}

section > table > thead th {
    font-size: x-large;
}

#video table {
    display: none;
}
#video #video:checked ~ table {
    margin-top: 1em;
    display: inline-block;
}

#allEllis, #allPolys {
    overflow-y: scroll;
    padding: 0 1em;
    max-height: 20em;
}


#grid, #grid {
    border: 2px solid black;
    width: 25em;
    margin: auto;
}

.number {
    width: 60px;
}
.smallNumber {
    width: 44px;
}
.tab3col > tbody > tr > td {
    width: 30%;
}


#fixed>tbody>tr>th {
    border-right: 1px solid black;
    width: 20%;
}
#fixed table {
    width: 95%;
}
#fixed td {
    width: auto;
}

.fiche {
    margin: auto;
    border: 1px solid gray;
    padding: 0.4em;
    width: 20em;
}

#reuseData, #reuseData + label,
#saveData, #saveData + label {
    display: none;
}

#nextStep:checked ~ #reuseData, #nextStep:checked ~ #reuseData + label,
#nextStep:checked ~ #saveData, #nextStep:checked ~ #saveData + label  {
    display: initial;
}